html {
  --vaadin-app-layout-drawer-width: 13em;
}

#view-layout-laboratory {
  background-color: var(--lumo-base-color);
  color: var(--lumo-success-text-color);
}

vaadin-button.right {
  margin-left: auto;
}
