<configuration>
  <property name="FILE_LOG_PATTERN"
    value="${FILE_LOG_PATTERN:-%d{${LOG_DATEFORMAT_PATTERN:-yyyy-MM-dd HH:mm:ss.SSS}} ${LOG_LEVEL_PATTERN:-%5p} ${PID:- } --- [%t][%.-15mdc{user}] %-40.40logger{39} : %m%n${LOG_EXCEPTION_CONVERSION_WORD:-%wEx}}"/>
  <include resource="org/springframework/boot/logging/logback/base.xml"/>
  <contextListener class="ch.qos.logback.classic.jul.LevelChangePropagator"/>

  <logger name="ca.qc.ircm.lanaseq" level="DEBUG"/>
  <logger name="ca.qc.ircm.lanaseq.security.web.ShiroViewAccessControl" level="INFO"/>
  <logger name="ca.qc.ircm.lanaseq.test.config.ShiroTestExecutionListener" level="INFO"/>
  <logger name="ca.qc.ircm.lanaseq.web.validation" level="TRACE"/>
  <logger name="org.springframework" level="INFO"/>
  <logger name="org.springframework.security" level="INFO"/>
  <logger name="org.springframework.jdbc.datasource.init.ScriptUtils" level="WARN"/>
  <logger name="org.springframework.test.context.transaction.TransactionContext" level="WARN"/>
  <!--
  <logger name="org.springframework.test.context.support.AbstractDirtiesContextTestExecutionListener" level="DEBUG"/>
  <logger name="com.icegreen.greenmail" level="DEBUG"/>
  -->
  <!-- Show SQL and parameters.
  <logger name="org.hibernate.SQL" level="DEBUG"/>
  <logger name="org.hibernate.type.descriptor.sql" level="TRACE"/>
  <logger name="org.hibernate.orm.jdbc.bind" level="TRACE"/>
  -->
</configuration>
